In [2]:
a = 10

In [3]:
a

10

In [4]:
type(a)

int

In [5]:
d =123.1345780990789675756746
type(d)

float

In [6]:
c='w'
type(c)

str

In [7]:
a

10

In [8]:
c=0

In [9]:
c=5/2

In [10]:
b=c=a=23

In [11]:
a

23

In [12]:
b

23

In [13]:
c

23

In [15]:
name,rollno,age='apssdc',345,5.6

In [16]:
name

'apssdc'

In [17]:
rollno,age

(345, 5.6)

In [18]:
val1,val2 = 10, 20

In [19]:
val1, val2 = val2,val1
val1,val2

(20, 10)

In [20]:
val1 + val2

30

In [21]:
val1
val2

10

In [22]:
print(val1)
print(val2)

20
10

In [23]:
val1
print(val2)

10

In [24]:
print(val1)
val2

20

10

In [25]:
a = input()
a

45

'45'

In [26]:
f =input()

34.56

In [27]:
f

'34.56'

In [28]:
type(a)

str

In [29]:
type(f)

str

In [30]:
a = int(input())

34

In [32]:
type(a)

int

In [33]:
a = input()
a= int(a)
a

45

45

In [34]:
a = int(input("Enter a  value"))
a

Enter a  value56

56

# Operators
By using opearatoers we can perform operations
###  - AO
    - Addition
    - Sub
    - Mul
- ## RO
- LO

In [38]:
2+3

5

In [39]:
5-6

-1

In [40]:
4*2

8

In [41]:
2*'sdc'

'sdcsdc'

In [42]:
5/2

2.5

In [43]:
5//2

2

In [44]:
2**2

4

In [45]:
2**3

8

In [46]:
pow(2,4)

16

## Relational Operators
compare 2 vals
- <,>,<=,>=,==,!=

In [47]:
5 < 6

True

In [48]:
5 > 2

True

In [49]:
5 <= 6

True

In [50]:
5 <= 5

True

In [51]:
5 < 5

False

In [52]:
5 == 6

False

In [53]:
5 == 5

True

In [54]:
'a' < 'b'

True

In [55]:
ord('a')

97

In [56]:
ord('*')

42

## Logical Operators:

To compare two different conditions
- and 
- or
- not

In [57]:
(2 < 4) and (5 < 6)

True

In [58]:
(2 > 6) and (6 < 9)

False

In [59]:
(4>3) and (5>9)

False

In [60]:
(4<6) or (6>8)

True

In [61]:
(5>9) or (6<5)

False

In [63]:
not (5<89)

False

## Bitwise Operators
- ## &
- ## |
- ## <<
- ## >>

In [64]:
2 & 3
# 2 - 0010
# 3 - 0011
# -----------
#     0010

2

In [65]:
4 & 6
# 4 - 0100
# 6 - 0110
#----------
#     0100-->4

4

In [67]:
2 | 3

3

In [68]:
3 | 2

3

In [69]:
4 << 1
# 4 - 0100
#

8

In [70]:
4 >> 2
# 4 - 0100
#     0001

1

   ## Assignment operators
   - +=
   - -=
   - *=
   - /=
   - %=
   - //=
   - **=

In [71]:
 i = 5
i = i+2  # i+= 2
i

7

In [72]:
i += 4
i

11

## Identity Opearots
- is
- is not

In [73]:
2 is 2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-73-8e1e1a168e96>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2

True

In [74]:
'abc' is 'abc'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-74-7edb8fe79427>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'abc' is 'abc'

True

In [75]:
4 is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-75-65da47c2e667>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  4 is not 5

True

## membership operators:
- in 
- not in

In [76]:
a = [1,23,4,5,67]
5 in a

True

In [77]:
45 in a

False

In [78]:
5 not in a

False

# Conditional Control Statements:
- Based on the condition we need to control flow of the program executuion
- conditiopnal stam
 - if stat
 - if else
 - nested if
 - else if lader
- iterative:
 - for
 - while
- jump stat
    - break
    - continue

In [90]:
if (4<6):
    print("True")
    print("big value")

print("i am out side of if")

True
big value
i am out side of if

In [91]:
if 25<9:
    print("True")
else:
    print("False")

False

In [92]:
if 5<6:
    if 6<9:
        print("True")
    else:
        print("i am insid if else")
else:
    print(" False")

True

In [94]:
if 52<6:
    print("i am in if block")
elif(64<8):
    print(" i am inside elif block")
else:
    print("i am in else block")

 i am inside elif block

### Tasks:
 - Biggest of 2 nums(read vals from user only)
 - Biggest of 3 nums

In [96]:
# biggest of three numbers
a=int(input("enter a value"))
b= int(input("netr b value"))
c= int(input("ENETR C VALUE"))
if a>b and a>c:
    print(a,"a is greater")
elif b>c:
    print(b,"b is greater")
else:
    print(c,"c is greater")

enter a value25
netr b value50
ENETR C VALUE55
55 c is greater

## Iterative Statements

In [97]:
range(10)

range(0, 10)

In [98]:
range(1,10)

range(1, 10)

In [101]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [102]:
for j in range(1,10):
    print(j,end=' ')

1 2 3 4 5 6 7 8 9

In [103]:
for k in range(2,10,2):
    print(k,end=',')

2,4,6,8,