In [1]:
def add(n1, n2):
     return n1+n2

add(n2=7, n1=9)

16

In [3]:
def mySum(*args):
    print(args)
    sm=0
    for i in args:
        sm += i
    return sm

print(mySum(1,2,3,4,5,6,7))

(1, 2, 3, 4, 5, 6, 7)
28

In [4]:
def adds(a):
    print(a)
    sd=0
    for i in a:
        sd+=int(i)
    return sd
adds(input().split())

1 2 3 4 5
['1', '2', '3', '4', '5']

15

## Data structures:
    - list
    - tuple
    - dictionary
    - set

### List:
    - it is a DS
    - it is Data type also
    - to create list we have 2 different ways:
        - li = []
        - li = list()

In [5]:
li =[12,34.78,'apssdc']
len(li)

3

In [6]:
li[0]

12

In [7]:
li[-1]

'apssdc'

In [8]:
li = [1,2,3,4,5,5,6,7,89,90,10]

In [9]:
li[:5]

[1, 2, 3, 4, 5]

In [10]:
li[5:]

[5, 6, 7, 89, 90, 10]

In [11]:
li[::2]

[1, 3, 5, 6, 89, 10]

In [12]:
li[1::2]

[2, 4, 5, 7, 90]

In [13]:
li[::-1]

[10, 90, 89, 7, 6, 5, 5, 4, 3, 2, 1]

In [15]:
sorted(li)

[1, 2, 3, 4, 5, 5, 6, 7, 10, 89, 90]

In [16]:
li

[1, 2, 3, 4, 5, 5, 6, 7, 89, 90, 10]

In [17]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
li = list()

In [20]:
li

[]

In [21]:
li.append(12)

In [22]:
li

[12]

In [23]:
li.append(23)
li.append(67)

In [24]:
li

[12, 23, 67]

In [25]:
li.append(678)

In [26]:
li

[12, 23, 67, 678]

In [27]:
li.insert(2,34)

In [28]:
li

[12, 23, 34, 67, 678]

In [29]:
li.pop()

678

In [30]:
li.pop(2)

34

In [31]:
li

[12, 23, 67]

In [32]:
li.remove(23)

In [33]:
li

[12, 67]

In [34]:
li.clear()

In [35]:
li

[]

In [39]:
li = [1,2,3,43,4]

In [37]:
del li

In [38]:
li

NameError: name 'li' is not defined

In [40]:
li

[1, 2, 3, 43, 4]

In [41]:
li.append(4)

In [42]:
li

[1, 2, 3, 43, 4, 4]

In [43]:
li.count(4)

2

In [44]:
li.sort()

In [45]:
li

[1, 2, 3, 4, 4, 43]

In [46]:
li.sort(reverse=True)

In [47]:
li

[43, 4, 4, 3, 2, 1]

In [48]:
li.append(12,234)

TypeError: append() takes exactly one argument (2 given)

In [49]:
li.append([12,123])
li

[43, 4, 4, 3, 2, 1, [12, 123]]

In [50]:
li[-1]

[12, 123]

In [51]:
li[-1][0]

12

In [52]:
li

[43, 4, 4, 3, 2, 1, [12, 123]]

In [54]:
li.extend([9,8,7])
li

[43, 4, 4, 3, 2, 1, [12, 123], 9, 8, 7]

In [55]:
li1 = li

In [56]:
li1

[43, 4, 4, 3, 2, 1, [12, 123], 9, 8, 7]

In [57]:
li2 = li.copy()

In [58]:
li2

[43, 4, 4, 3, 2, 1, [12, 123], 9, 8, 7]

In [60]:
li2.append(6)
li2

[43, 4, 4, 3, 2, 1, [12, 123], 9, 8, 7, 6]

In [61]:
li

[43, 4, 4, 3, 2, 1, [12, 123], 9, 8, 7]

In [62]:
# dynamic lost generation
li = []
n = int(input("Enter range: "))
for i in range(n):
    val = int(input("Enter value: "))
    li.append(val)
print(li)

Enter range: 3
Enter value: 56
Enter value: 90
Enter value: 45
[56, 90, 45]

In [65]:
names = input().split()
for name in names:
    if name.startswith('a'):
        print(name)
    elif name.endswith('i'):
        print(name)

abdul abdull anil anji rani raja gk
abdul
abdull
anil
anji
rani

In [73]:
mails = input("Enter mails").split()
domains = []
for mail in mails:
    mail = mail.split('@')
    domains.append(mail[1].split('.')[0])
#print(domains)
ud = []
for d in domains:
    if d not in ud:
        ud.append(d)
#print(ud)
for i in ud:
    print(i,"==>",domains.count(i))

Enter mailsabc@gmail.com abcd@gmail.com abc@apssdc.in abcd@apssdc.in abc@yahoo.com
gmail ==> 2
apssdc ==> 2
yahoo ==> 1

In [76]:
# print unique words in
# sorting order from given 
# string
# input: hi i am abdul shaik and i am from apssdc but working in SRIT
txt = input().split()
uw = []
for word in txt:
    if word not in uw:
        uw.append(word)
uw.sort()
print(uw)

hi i am abdul shaik and i am from apssdc but working in SRIT
['SRIT', 'abdul', 'am', 'and', 'apssdc', 'but', 'from', 'hi', 'i', 'in', 'shaik', 'working']

## tuples:
 - tuples are immutable
 - to define tuples we will use ()
 - tuples are DS
 - and also it is DAta type

In [77]:
t = (12,45.80,'abdul')
t

(12, 45.8, 'abdul')

In [78]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [79]:
li

[56, 90, 45]

In [80]:
t1 = tuple(li)
t1

(56, 90, 45)

In [81]:
type(t1)

tuple

In [82]:
l1 = list(t1)
l1

[56, 90, 45]

In [83]:
type(l1)

list

### Dictionaries:
- it is a DS
- it a data type
- to define dict 
    we will use {}
- to define empty dict 
    we have 2 ways 
    d ={} or d=dict()
- in dict we will store
    data in pair wise

In [84]:
d ={'name':'abdul',
    'rollno':'507',
    'age':25,
    'phno':['9856230147','7845120369']}

In [85]:
d

{'name': 'abdul',
 'rollno': '507',
 'age': 25,
 'phno': ['9856230147', '7845120369']}

In [86]:
d['name']

'abdul'

In [87]:
d['age']

25

In [88]:
d['phno']

['9856230147', '7845120369']

In [89]:
d['mail']= 'abdul@gmail.com'

In [90]:
d

{'name': 'abdul',
 'rollno': '507',
 'age': 25,
 'phno': ['9856230147', '7845120369'],
 'mail': 'abdul@gmail.com'}

In [91]:
d['gender']

KeyError: 'gender'

In [92]:
d['mail']

'abdul@gmail.com'

In [93]:
d['mail']='abdul@apssdc.in'

In [94]:
d

{'name': 'abdul',
 'rollno': '507',
 'age': 25,
 'phno': ['9856230147', '7845120369'],
 'mail': 'abdul@apssdc.in'}

In [95]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [96]:
d.keys()

dict_keys(['name', 'rollno', 'age', 'phno', 'mail'])

In [97]:
d.values()

dict_values(['abdul', '507', 25, ['9856230147', '7845120369'], 'abdul@apssdc.in'])

In [98]:
d.items()

dict_items([('name', 'abdul'), ('rollno', '507'), ('age', 25), ('phno', ['9856230147', '7845120369']), ('mail', 'abdul@apssdc.in')])

In [99]:
d.popitem()

('mail', 'abdul@apssdc.in')

In [100]:
d

{'name': 'abdul',
 'rollno': '507',
 'age': 25,
 'phno': ['9856230147', '7845120369']}

In [101]:
d.pop('age')

25

In [102]:
d

{'name': 'abdul', 'rollno': '507', 'phno': ['9856230147', '7845120369']}

In [103]:
marks = {}.fromkeys(['Java','python'],0)

In [104]:
marks

{'Java': 0, 'python': 0}

In [105]:
marks.setdefault('python',67)

0

In [106]:
marks

{'Java': 0, 'python': 0}

In [107]:
marks.setdefault('c',90)

90

In [108]:
marks

{'Java': 0, 'python': 0, 'c': 90}

In [110]:
n=int(input("Enter the range"))
dic={}
for i in range(1,n+1):
    #dic.setdefault(i,i**2)
    dic[i]=i**2
print(dic)

Enter the range3
{1: 1, 2: 4, 3: 9}

In [113]:
n = int(input())
k =[]
v =[]
for i in range(n):
    k.append(input("enter key"))
    v.append(input('Enter value'))
d={}
for i in range(n):
    #d[k[i]]= v[i]
    d.setdefault(k[i],v[i])
print(k)
print(v)
print(d)

3
enter keyname
Enter valueabdul
enter keyage
Enter value25
enter keybranch
Enter valuecse
['name', 'age', 'branch']
['abdul', '25', 'cse']
{'name': 'abdul', 'age': '25', 'branch': 'cse'}

## set
- it s a data type
- it is ds
- to define empty set 
    we ahve to use s = set()
- {}

In [115]:
li = [1,2,4,5,5,45,43,3,3]
l = set(li)
list(l)

[1, 2, 3, 4, 5, 43, 45]